/* APCD PWA - Adrián Araque */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.main{
    /* width: 100vw; */
    /* height: 100vh; */

    display: flex;
    align-items: center;

    flex-direction: column;
}

.container{
    background-color: white;

    padding: 20px;
    margin-inline: auto;
}




/* 
    FORMULARIO - TEXTO
*/

.form-txt{


    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: stretch;

    font-size: 20px;

    margin-bottom: 30px;
}

.form-txt h1{
    text-align: center;
}

.form-txt label{
    margin-bottom: 5px;
}

.form-txt input{
    display: block;

    margin-bottom: 15px;
    margin-inline: 15px;
}


.form-table{
    width: 100%;

    padding: 0px;
    margin-bottom: 30px;
    border-collapse: collapse;
}

.form-table tr{
    border: 1px solid;
    width: 100%;
}

.form-table th{
    border: 1px solid;
    background-color: lightblue;
    padding: 10px;
}

.form-table td{
    border: 1px solid;
    padding: 5px;
    background-color: whitesmoke;
}

.form-table input[type=text]{
    border: none;
}

.form-table input[type=text]:focus {
    background-color: lightblue;
    outline: none;
  }

.form-table input[type=radio]{
    display: block;
    margin: auto;
}

.inner{
    max-width: 500px;
}


/* FORMULARIO - INPUTS */
input[type=text]{
    border-radius: 6px;
    border-color: gray;
    border-width: 1px;

    padding: 8px;

}
input[type=text]:focus{
    background-color: whitesmoke;

}



/*
    UTILS
*/

h3{
    margin: 0px;
    margin-bottom: 15px;
    font-family: 'Oswald', 'Roboto', sans-serif;
}

h1{
    font-family: 'Oswald', 'Roboto', sans-serif;
}

.markall{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.markall h4{
    font-size: 20px;
    margin: 0px;
    padding-inline: 10px;

    margin-left: 10px;
    margin-bottom: 10px;
}