/* APCD PWA - Adrián Araque */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@font-face{
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

*{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body{
    background: rgb(28,27,59) !important;
    background: linear-gradient(90deg, rgba(28,27,59,1) 0%, rgba(14,98,170,1) 49%, rgba(0,212,255,1) 100%) !important;
}

.container{
    border-radius: 10px;
}

.no{
    width: 0px !important;
    text-align: center !important;
}

.input{
    width: 10px !important;
    text-align: center !important;
}

.agregar{
    width: 120px;
    text-align: center;
}


/* Input date */

.input-date{
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;

    width: 100%;
}

/* ICONS */
.icon{
    width: 20px;
}