/* APCD PWA - Adrián Araque */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body{
    background: rgb(28,27,59) !important;
    background: linear-gradient(90deg, rgba(28,27,59,1) 0%, rgba(14,98,170,1) 49%, rgba(0,212,255,1) 100%) !important;
}

.container{
    border-radius: 10px;
}

.no{
    width: 0px;
    text-align: center;
}

th .input{
    width: 0px;
    text-align: center;
}

.agregar{
    width: 120px;
    text-align: center;
}


/* Input date */

.input-date{
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;

    width: 100%;
}